
/*Home*/
.carousel-caption p {
    font-size: 20px;
    
  }
  
  
  .WelcomePara p{
    margin-left: 25px;
    font-family: 'Gill Sans MT';
    font-size: 18px;
    font-weight: 300;
  }
  .WelcomePara h3{
    font-family: Impact;
    color: red;
  }
  
  
  .MissionPara {
    padding-left: 70px;
  }
  
  .MissionPara p{
    margin-left: 30px;
    font-family: 'Gill Sans MT';
    font-size: 20px;
    font-weight: 300;
  }
  
  .MissionPara h3{
    font-family: Impact;
    color: red;
  }
  
  
  .TeamPara p{
    margin-left: 25px;
    font-family: 'Gill Sans MT';
    font-size: 18px;
    font-weight: 300;
  }
    
  .TeamPara h3{
    font-family: Impact;
    color: red;
  }

  /*Nav*/


.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background: linear-gradient(90deg, #5d5c5c, #989796d2);
}

.navbar-brand img {
    width: 70px;
    height: 40px;
    border-radius: 25%;
}

.navbar-nav .nav-link {
    font-size: 1.1rem;
    font-weight: 600;
    color: white;
    margin: 0 10px;
    transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
    color: #ef60ce;
}

.profile-icon img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px;
    transition: transform 0.3s;
}

.profile-icon img:hover {
    transform: scale(1.1);
}

/* Adjust Navbar Toggler */
.navbar-toggler {
    border: none;
}

/* Center Links on Larger Screens */
@media (min-width: 992px) {
    .navbar-nav {
        margin: 0 auto;
    }
}
/* Carosel */
.carouselText h1{
    font-family:Cambria;
    font-weight: 800 ;
    color: #000000;
  }
  .carouselText p{
    font-family:Cambria;
    font-weight: 800 ;
    color: #ffffff;
  }
  .CaptionCB h1 {
    font-family:Cambria;
    font-weight: 800 ;
    color: #ffffff;
  }
  
  .CaptionCB p {
    font-family:Cambria;
    font-weight: 800 ;
    color: #ff5e5e;
  }

